name: fetch daily
on:
  schedule:
    - cron: "0 10 * * *" # like 5 am?
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - run: pip install arxiv requests beautifulsoup4

      - run: python fetch.py

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Fetched Papers"
