name: firebasing daily

on:
  schedule:
    - cron: '0 13 * * *'  # 8 AM EST
    - cron: '0 17 * * *'  # 12 PM EST
    - cron: '0 1 * * *'   # 8 PM EST
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      - name: Create Firebase config
        run: |
          echo '${{ secrets.FIREBASE_JSON }}' > firebase.json
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Run script
        run: |
          python firebase.py
